<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="Cadenacontacto" connectionString="Data Source = EMINENCIA-EN-PR\SQLE; Integrated Security = true; Initial Catalog = Gonzalo; "
      providerName="System.Data.SqlClient" />-->
    <add name="CadenaT_Login" connectionString="Data Source = EMINENCIA-EN-PR\SQLE; Integrated Security = true; Initial Catalog = Gonzalo; "
      providerName="System.Data.SqlClient" />
    <add name="CadenaInmueble" connectionString="Data Source = EMINENCIA-EN-PR\SQLE; Integrated Security = true; Initial Catalog = Gonzalo; "
      providerName="System.Data.SqlClient" />
    <add name="GonzaloConnectionString1" connectionString="Data Source=EMINENCIA-EN-PR\SQLE;Initial Catalog=Gonzalo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GonzaloConnectionString" connectionString="Data Source=EMINENCIA-EN-PR\SQLE;Initial Catalog=Gonzalo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    
    <sessionState mode="InProc" cookieless="false" timeout="2"></sessionState>
    
    </system.web>

</configuration>
